In [4]:
import pandas as pd

In [6]:
data = {
    'Roll Number': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'Name': ['Arjun', 'Prajwal', 'Yuvraj', 'David', 'Virat', 'Kareena', 'Hrithik', 'Shrivansh', 'Hardik', 'Aishwarya'],
    'Gender': ['M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'F'],
    'Marks1': [85, 72, 90, 65, 78, 88, 95, 80, 70, 82],
    'Marks2': [70, 68, 75, 60, 72, 80, 85, 78, 65, 75],
    'Marks3': [80, 75, 85, 70, 75, 85, 90, 82, 72, 80]
}

In [12]:
df=pd.DataFrame(data)

In [20]:
df['Total Marks'] = df['Marks1'] + df['Marks2'] + df['Marks3']
print(df)

   Roll Number       Name Gender  Marks1  Marks2  Marks3  Total Marks
0          101      Arjun      M      85      70      80          235
1          102    Prajwal      M      72      68      75          215
2          103     Yuvraj      M      90      75      85          250
3          104      David      M      65      60      70          195
4          105      Virat      M      78      72      75          225
5          106    Kareena      F      88      80      85          253
6          107    Hrithik      M      95      85      90          270
7          108  Shrivansh      M      80      78      82          240
8          109     Hardik      M      70      65      72          207
9          110  Aishwarya      F      82      75      80          237

In [28]:
lowest_marks=df['Marks1'].min()
print('Lowest Marks in Mark-1 = ',lowest_marks)

Lowest Marks in Mark-1 =  65

In [30]:
highest_marks=df['Marks2'].max()
print('Highest Marks in Mark-2 = ',highest_marks)

Highest Marks in Mark-1 =  85

In [34]:
average_marks=df['Marks3'].mean()
print('Average Marks in Mark-3 = ',average_marks)

Average Marks in Mark-3 =  79.4

In [38]:
df['Average Marks'] = df[['Marks1', 'Marks2', 'Marks3']].mean(axis=1)
highest_avg_stu=df.loc[df['Average Marks'].idxmax(), 'Name']
print("Student with the highest average marks:", highest_avg_stu)

Student with the highest average marks: Hrithik

In [40]:
fail=df[df['Marks2']<40].shape[0]

In [42]:
print('Number of failed students = ',fail)

Number of failed students =  0

In [44]:
summary=df.describe()
print(summary)

       Roll Number     Marks1     Marks2     Marks3  Total Marks  \
count     10.00000  10.000000  10.000000  10.000000    10.000000
mean     105.50000  80.500000  72.800000  79.400000   232.700000
std        3.02765   9.478045   7.405704   6.363088    22.691408
min      101.00000  65.000000  60.000000  70.000000   195.000000
25%      103.25000  73.500000  68.500000  75.000000   217.500000
50%      105.50000  81.000000  73.500000  80.000000   236.000000
75%      107.75000  87.250000  77.250000  84.250000   247.500000
max      110.00000  95.000000  85.000000  90.000000   270.000000

       Average Marks
count      10.000000
mean       77.566667
std         7.563803
min        65.000000
25%        72.500000
50%        78.666667
75%        82.500000
max        90.000000